<div class="flex" style="height: 100vh">
  <div class="col-6 m-3 flex flex-column justify-content-center">
    <div class="m-auto">
      <div class="text-center">
        <p-avatar
          image=""
          styleClass="mr-2"
          size="xlarge"
          shape="circle"
        ></p-avatar>
        <h1>Registrese</h1>
      </div>
      <p-message
        *ngIf="errorMessage"
        severity="error"
        [text]="errorMessage"
        styleClass="mb-2 w-full"
      ></p-message>

      <form
        *ngIf="!isSuccessful"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
        <div class="form-group">
          <div class="field">
            <label for="username">Usuario</label>
            <input
              type="text"
              [(ngModel)]="form.username"
              name="username"
              pInputText
              placeholder="Doe"
              class="form-control"
              class="w-full"
            />
          </div>
        </div>
        <div class="form-group">
          <div class="field">
            <label for="email">Correo</label>
            <input
              pInputText
              type="email "
              [(ngModel)]="form.email"
              name="email"
              class="form-control"
              placeholder="doe@email.com"
              class="w-full"
            />
          </div>
        </div>
        <div class="form-group">
          <div class="field">
            <label for="password">Contraseña</label>
            <input
              pInputText
              type="password"
              class="form-control"
              class="w-full"
              [(ngModel)]="form.password"
              name="password"
              placeholder="Contraseña"
            />
          </div>
        </div>

        <button pButton label="Crear cuenta" class="w-full"></button>
        <button
          pButton
          label="Ya tienes una cuenta?, Iniciar Sesión."
          class="w-full p-button-link text-left pl-0"
        ></button>
      </form>
    </div>
  </div>
  <div
    class="col-6 flex flex-column justify-content-center align-items-center right-container"
  >
    <h1>
      <a
        href="https://stone-opinion-2b0.notion.site/Sistema-votaciones-c0ced54e5d134c4699f026a878f8ce0e?pvs=4"
        target="_blank"
        >Sisvot-app</a
      >
    </h1>
    <img
      class="background p-6 pt-0"
      src="https://images.unsplash.com/photo-1616442830389-0ad5a8489dfc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTd8fHZvdGV8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60"
    />
  </div>
</div>
