<div class="flex" style="height: 100vh">
  <div class="col-6 m-3 flex flex-column justify-content-center">
    <div class="m-auto">
      <div class="text-center">
        <p-avatar
          icon="pi pi-user"
          styleClass="mr-2"
          size="xlarge"
          shape="circle"
        ></p-avatar>
        <h1>Iniciar Sesión</h1>
      </div>
      <p-message
      *ngIf=""
      severity="error"
      [text]="errorMessage"
      styleClass="mb-2 w-full"
    ></p-message>

      <form
        *ngIf="!isLoggedIn"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
      <div class="form-group">
        <div class="field">
          <label for="username">Username</label>
          <input
          pInputText
            type="text"
            class="form-control"
            class="w-full"
            name="username"
            [(ngModel)]="form.username"
            required
            #username="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && username.errors }"
          />
          <div *ngIf="username.errors && f.submitted" class="invalid-feedback">
            Username is required!
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="field">
          <label for="password">Password</label>
          <input
          pInputText
          type="password"
          class="form-control"
            class="w-full"
            name="password"
            [(ngModel)]="form.password"
            required
            minlength="6"
            #password="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
          />
          <div *ngIf="password.errors && f.submitted" class="invalid-feedback">
            <div *ngIf="password.errors['required']">Password is required</div>
            <div *ngIf="password.errors['minlength']">
              Password must be at least 6 characters
            </div>
          </div>
        </div>
      </div>
        <button pButton label="Iniciar Sesión" class="w-full"></button>

        <button
          pButton
          label="No tienes cuenta? Registrate aqui."
          class="w-full p-button-link text-left pl-0"
          (click)="register()"
        ></button>

      </form>
      
    </div>
  </div>
  <div
    class="col-6 flex flex-column justify-content-center align-items-center right-container"
  >
    <h1>
      <a
        href="https://stone-opinion-2b0.notion.site/Sistema-votaciones-c0ced54e5d134c4699f026a878f8ce0e?pvs=4"
        target="_blank"
        >Sisvot - app
      </a>
    </h1>
    <img
      class="background p-6 pt-0"
      src="https://images.unsplash.com/photo-1616442830389-0ad5a8489dfc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTd8fHZvdGV8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60"
    />
  </div>
</div>
